



<div class="card">
    <div class="card-header"><H4><span>User details</span></H4></div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">Name</div>
            <div class="col-sm-8">{{us?.UserName}}</div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete</button>
                    <button type="button" class="btn btn-secondary" (click)="editUser()">Edit</button>
                  </div>
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>
</div>





